@font-face {
    font-family: 'NanumAmSeuTeReuDam';
    src:
      url('../assets/fonts/subset-NanumAmSeuTeReuDam.woff2') format('woff2'),
      url('../assets/fonts/subset-NanumAmSeuTeReuDam.woff') format('woff'),
      url('../assets/fonts/subset-NanumAmSeuTeReuDam.ttf') format('truetype');
    font-display: fallback;
  }